@import "tailwindcss";

@custom-variant dark-theme (&:where(.dark-theme, .dark-theme *));

@theme {
  --color-primary: #f0f5fc;
  --color-secondary: #d9dfe5;
  --color-blue: #428ce2;
  --color-green: #5dd776;
  --color-foreground: #364f6b;
  --color-foreground-sec: #7b899a;

  --drop-shadow-bluexl: 10px 10px 0px var(--color-blue);
  --drop-shadow-bluexlr: -10px 10px 0px var(--color-blue);
  --drop-shadow-bluemd: 4px 4px 0px var(--color-blue);
  --drop-shadow-secondary-lg: 0px 5px 8px var(--color-secondary);
  --drop-shadow-secondary-right: 3px 5px 5px var(--color-secondary);

  --shadow-secondary-center: 0px 0px 10px 9px var(--color-secondary);
  --shadow-bluexlr: -10px 10px 0px var(--color-blue);
  --shadow-bluexlrr: 10px 10px 0px var(--color-blue);
  --shadow-bluexlrr-sm: 3px 3px 0px var(--color-blue);
  --shadow-bluexlrr-md: 5px 5px 0px var(--color-blue);

  --animate-slideInDown: slideInDown 0.1s ease-in-out 1;
  --animate-page: page 1s ease-in-out 1;

  @keyframes slideInDown {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes page {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.dark-theme {
  --color-primary: #20232c;
  --color-secondary: #232a32;
  --color-foreground: #a1aebd;
  --color-foreground-sec: #6878d3;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
  }

  html,
  body {
    height: 100%;
  }

  h1 {
    font-size: 26px;
    font-weight: 500;
  }

  h2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 250%;
    margin-top: 10px;
  }

  h3 {
    font-size: 19px;
    font-weight: 500;
  }

  h4 {
    letter-spacing: 4px;
    font-weight: 600;
  }

  a {
    @apply text-blue;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
  }

  @media (min-width: 1000px) {
    h1 {
      font-size: 36px;
      font-weight: 500;
    }

    h3 {
      font-size: 22px;
      line-height: 40px;
      font-weight: 500;
    }

    h4 {
      letter-spacing: 4px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 160%;
    }
  }
}
